<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" >
</head>
<body>
    <header>
        <div class="container">
            <div class="top-header flex-between">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="partners">
                    <img src="./images/es.png" />
                    <img src="./images/rb.png" />
                    <img src="./images/undp.png" />
                </div>
            </div>
            <div class="flex-between">
                <div class="nav">
                    <a href="/" class="nav-item active">Маршруты</a>
                    <a href="/" class="nav-item">Статьи</a>
                    <a href="/" class="nav-item">О нас</a>
                    <a href="/" class="nav-item">Объекты</a>
                    <a href="/" class="nav-item">Навигатор</a>
                    {% if user.is_authenticated %}
                    <a href="{%url 'saved'%}" class="nav-item">Кабинет</a>
                    {% endif %}
                </div>
                <div class="account flex-between">
                    {% if user.is_authenticated %}
                    <p class="account-title">Привет, {{ user.username }}!</p>
                    {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                    {% endif %}
                    <img class="account-avatar" src="{% static "images/avatar.png"%}"/>
                </div>
            </div>
        </div>
    </header>
    <section class="main-content">
        <div class="type-route">
            <div class="container">
                <div class="navigation">
                    <i class="back"></i>
                    <span class="navigation-title">Назад</span>
                </div>
                      
                
                <div class="historic-routes-item flex-between new-route-item">
                    <div class="new-routes-item-frame">
                        <img src="./images/frame.png" />
                    </div>
                    <div class="historic-routes-item-content">
                        <h4>Новый маршрут</h4>
                        <input type="text" 
                        placeholder="Введите название маршрута"
                        class="new-route-input"/>
                        <div class="clocks flex">
                            <div class="clocks-item clocks-item-miles">8 км</div>
                            <div class="clocks-item clocks-item-hours">1.5 ч</div>
                            <div class="clocks-item clocks-item-objects">5 объектов</div>
                        </div>
                        <div class="new-routes-item-text">
                            1. Замок Сапеги (1590-1619г.) памятник архитектуры.<br>
                            2. Замок Сапеги (1590-1619г.) памятник архитектуры.<br>
                            3. Замок Сапеги (1590-1619г.) памятник архитектуры.<br>
                            4. Замок Сапеги (1590-1619г.) памятник архитектуры.<br>
                            5. Замок Сапеги (1590-1619г.) памятник архитектуры.
                        </div>
                        <div class="historic-routes-item-buttons flex">
                            <button class="reverse-button big-button button empty-btn">Сбросить</button>
                            <button class="reverse-button big-button button">Сохранить маршрут</button>
                        </div>
                        <button class="main-button big-button button width100">Начать поездку</button>
                    </div>
                </div>

                <div class="tabs">
                    <div class="flex-between">
                        <div class="tabs-nav flex">
                            <div class="tabs-nav-item active">Туристические объекты</div>
                            <div class="tabs-nav-item">Объекты МСП</div>
                            <div class="tabs-nav-item">Избранное</div>
                        </div>
                        <i class="search"></i>
                    </div>
                    <div class="tabs-content">
                        <div class="tab-content-item flex-between">
                            <div class="tab-content-item-plus"></div>
                            <div class="tab-content-item-desc">
                                <h3>Замок Сапеги (1590-1619г.) памятник архитектуры</h3>
                                <p>Он был построен на высоком правом берегу Днепра на месте 
                                    поселения XIV-XV вв. и до 1590 г. имел деревянно-земляные 
                                    укрепления: вал, стены в виде ограды, башни и въездные 
                                    ворота. В конце XVI в. гетман Я.К.Хадкевич получил от 
                                    короля разрешение на укрепление замка.</p>
                                    <div class="flex-between">
                                        <div class="left-add green">+ Добавить в избранное</div>
                                        <div class="right-add green">Подробнее</div>
                                    </div>
                            </div>
                            <div class="tab-content-item-map">
                                <img src="./images/map1.png" />
                            </div>
                            <div class="tab-content-item-slider">
                                <img src="./images/slider.png" />
                            </div>
                        </div>
                        <div class="tab-content-item flex-between">
                            <div class="tab-content-item-plus"></div>
                            <div class="tab-content-item-desc">
                                <h3>Замок Сапеги (1590-1619г.) памятник архитектуры</h3>
                                <p>Он был построен на высоком правом берегу Днепра на месте 
                                    поселения XIV-XV вв. и до 1590 г. имел деревянно-земляные 
                                    укрепления: вал, стены в виде ограды, башни и въездные 
                                    ворота. В конце XVI в. гетман Я.К.Хадкевич получил от 
                                    короля разрешение на укрепление замка.</p>
                                    <div class="flex-between">
                                        <div class="left-add green">+ Добавить в избранное</div>
                                        <div class="right-add green">Подробнее</div>
                                    </div>
                            </div>
                            <div class="tab-content-item-map">
                                <img src="./images/map1.png" />
                            </div>
                            <div class="tab-content-item-slider">
                                <img src="./images/slider.png" />
                            </div>
                        </div>
                        <div class="tab-content-item flex-between">
                            <div class="tab-content-item-plus"></div>
                            <div class="tab-content-item-desc">
                                <h3>Замок Сапеги (1590-1619г.) памятник архитектуры</h3>
                                <p>Он был построен на высоком правом берегу Днепра на месте 
                                    поселения XIV-XV вв. и до 1590 г. имел деревянно-земляные 
                                    укрепления: вал, стены в виде ограды, башни и въездные 
                                    ворота. В конце XVI в. гетман Я.К.Хадкевич получил от 
                                    короля разрешение на укрепление замка.</p>
                                    <div class="flex-between">
                                        <div class="left-add green">+ Добавить в избранное</div>
                                        <div class="right-add green">Подробнее</div>
                                    </div>
                            </div>
                            <div class="tab-content-item-map">
                                <img src="./images/map1.png" />
                            </div>
                            <div class="tab-content-item-slider">
                                <img src="./images/slider.png" />
                            </div>
                        </div>
                    </div>
                </div>
              


              
                <div class="pagination flex-between">
                    <i class="pagination-left"></i>
                    <span>1</span>
                    <span class="active">2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <i class="pagination-right"></i>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container flex-between">
            <div class="address-block">
                <div class="ontop">
                    Наверх
                </div>
                <p class="phone">+375 29 123 98 98</p>
                <div class="mail">example@gmail.com</div>
            </div>
            <div class="footer-nav">
                <a href="#" class="footer-nav-item">Маршруты</a>
                <a href="#" class="footer-nav-item">Статьи</a>
                <a href="#" class="footer-nav-item">О нас</a>
                <a href="#" class="footer-nav-item">Объекты</a>
                <a href="#" class="footer-nav-item">Навигатор</a>
                {% if user.is_authenticated %}
                    <a href="{%url 'saved'%}" class="nav-item">Кабинет</a>
                    {% endif %}
            </div>
            <div class="footer-text">
                Сайт разработан в рамках реализации инициативы «Быхов-инновационный», 
                в рамках проекта «Поддержка экономического развития на местном уровне 
                в Республике Беларусь», который финансируется Европейским союзом (ЕС)
                 и реализуется Программой развития ООН (ПРООН) в партнерстве 
                 с Министерством экономики Республики Беларусь
            </div>
            <div class="footer-logo">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="copy">&copy; 2020 Быхов Велосипедный</div>
            </div>
        </div>
    </footer>
</body>
</html>