<div>
    <p><a href="main.html">Маршруты</a></p>
    <p><a href="route.html">Выбранный тип маршрута</a></p>
    <p><a href="create-route.html">Конструктор маршрута (Создать свой маршрут)</a></p>
    <p><a href="articles.html">Статьи</a></p>
    <p><a href="article.html">Статья</a></p>
    <p><a href="about.html">О нас</a></p>
    <p><a href="objects.html">Объекты</a></p>
    <p><a href="object.html">Выбранный туристический объект</a></p>
    <p><a href="navigator.html">Навигатор</a></p>
    <p><a href="login.html">Вход</a></p>
    <p><a href="signup.html">Регистрация</a></p>
    <p><a href="saved.html">Сохраненные маршруты</a></p>
</div>